.title {
    text-align: center;
    align-items: center;
    color: #4b3e87;
    font-family: sans-serif;
    font-size: 32px;
}

.act1 {
    margin-left: 10px;
    color: #768c99;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.prologue {
    margin-top: 30px;
    margin-left: 10px;
    color: #768c99;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    margin-top: 20px;
    margin-left: 10px;
    width: 245px;
}

.text1 {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.scene1 {
    margin-top: 25px;
    margin-left: 10px;
    color: #768c99;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.text2 {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    font-family: sans-serif;
}

.sampson {
    margin-top: 25px;
    margin-left: 10px;
    color: #768c99;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
}

.text3 {
    margin-top: 25px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: initial;
}

.gregory {
    margin-top: 25px;
    margin-left: 10px;
    color: #768c99;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
}

.text4 {
    margin-top: 25px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: initial;
}

