.firstPlayer {
    font-size: 30px;
    margin-left: 45px;
}

.player1Cards {
    margin-left: 45px;
    display: flex;
    column-gap: 10px;
}

.firstCard {
    background-color: rgba(192,192,192,0.7);
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.secondCard {
    background-color: rgba(192,192,192,0.7);
    color: red;
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdCard {
    background-color: rgba(192,192,192,0.7);
    color: red;
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthCard {
    background-color: rgba(192,192,192,0.7);
    color: red;
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifthCard {
    background-color: rgba(192,192,192,0.7);
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixthCard {
    background-color: rgba(192,192,192,0.7);
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondPlayer {
    font-size: 30px;
    margin-left: 45px;
    margin-top: 25px;
}

.player2Cards {
    display: flex;
    margin-left: 45px;
    gap: 10px;
}

.first_card {
    background-color: rgba(192,192,192,0.7);
    color: red;
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_card {
    background-color: rgba(192,192,192,0.7);
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.third_card {
    background-color: rgba(192,192,192,0.7);
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth_card {
    background-color: rgba(192,192,192,0.7);
    color: red;
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth_card {
    background-color: rgba(192,192,192,0.7);
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth_card {
    background-color: rgba(192,192,192,0.7);
    color: red;
    height: 100px;
    width: 120px;
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}




